html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.button {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #1e1f23;
}
.button:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
.button:active {
  color: #efefef;
  background-color: #1e1f23;
}
html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #393b42;
  font-family: 'Source Sans Pro', sans-serif;
}
#header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 5;
  margin: 0 0 30px 0;
  background-color: #1e1f23;
  border-bottom: 1px solid #292929;
  box-shadow: 0px 0px 4px #232323;
}
#header #songArea {
  position: absolute;
  left: 30px;
  float: left;
}
#header #songArea img {
  float: left;
  width: 90px;
  height: 90px;
  background-color: white;
  box-shadow: 0px 0px 4px #232323;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#header #songArea h1 {
  display: block;
  height: 30px;
  margin: 0 0 0 110px;
  line-height: 30px;
  font-size: 20px;
  color: #efefef;
}
#header #songArea h2 {
  display: block;
  height: 30px;
  margin: 0 0 0 110px;
  line-height: 30px;
  color: #efefef;
}
#header #controls {
  position: absolute;
  left: 0;
  right: 0;
  width: 38px;
  height: 50px;
  margin: 0 auto;
}
#header #controls button {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #1e1f23;
  float: left;
  margin: 11px;
}
#header #controls button:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#header #controls button:active {
  color: #efefef;
  background-color: #1e1f23;
}
#header #volumeIcon {
  float: right;
}
#header #volumeIcon {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #1e1f23;
  margin: 11px 0 0 0;
}
#header #volumeIcon:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#header #volumeIcon:active {
  color: #efefef;
  background-color: #1e1f23;
}
#header #volumeControl {
  float: right;
  width: 100px;
  height: 60px;
  margin: 0 30px 0 20px;
}
/**** Stations ****/

#stations {
  overflow-y: scroll;
  margin: 61px 0 30px 0;
}
.station {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 60px 30px 0 30px;
  background-color: white;
  box-shadow: 0px 0px 4px #1e1f23;
  border-radius: 4px;
  transition: all 2s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.station:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px #1e1f23, 0px 0px 0 4px #1e1f23;
}
.station img {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 4px;
}
.station .favouriteButton {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}
.station .favouriteButton:hover {
  cursor: pointer;
}
.station #stationTitles {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 180px;
  height: 50px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 25px;
  color: #efefef;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.station #stationTitles h1 {
  font-weight: bold;
}
/**** Footer ****/

footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  background-color: #1e1f23;
  border-bottom: 1px solid #292929;
  box-shadow: 0px 0px 4px #232323;
}
footer #informationPaneToggle {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  display: block;
  background: none;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 10px 0 0;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  color: #efefef;
}
footer #informationPaneToggle:hover {
  cursor: pointer;
  color: #bcbcbc;
}
footer #informationPaneToggle:active {
  color: #1b1b1b;
}
footer #searchContainer {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  height: 38px;
  width: 358px;
  margin: 0 auto;
  background-color: #efefef;
  border-radius: 4px;
}
footer #searchContainer input {
  float: left;
  width: 320px;
  height: 38px;
  background-color: #efefef;
  border: none;
  outline: none;
  padding: 0 10px;
  margin: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-appearance: none;
}
footer #searchContainer button {
  display: block;
  float: right;
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #1b1b1b;
  line-height: 30px;
  text-align: center;
}
footer #settingsButton {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #1e1f23;
  float: right;
  margin: 12px 20px 0 0;
}
footer #settingsButton:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
footer #settingsButton:active {
  color: #efefef;
  background-color: #1e1f23;
}
/**** Settings ****/

#settingsPaneCover {
  display: none;
  position: absolute;
  z-index: 9001;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#settingsPaneCover #settingsPane {
  position: relative;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  background-color: #efefef;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #232323;
}
#settingsPaneCover #settingsPane header {
  height: 40px;
  width: 500px;
  background-color: #393b42;
  border-bottom: 1px solid #1e1f23;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#settingsPaneCover #settingsPane header h1 {
  float: left;
  margin: 0 0 0 10px;
  line-height: 40px;
  font-size: 20px;
  color: #efefef;
}
#settingsPaneCover #settingsPane header button {
  float: right;
  width: 21px;
  height: 21px;
  margin: 10px 10px 0 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  font-size: 16px;
  color: #393b42;
  border-radius: 2px;
  background-color: #e13b39;
}
#settingsPaneCover #settingsPane header button:hover {
  cursor: pointer;
  background-color: #b52f2f;
}
#settingsPaneCover #settingsPane ul {
  float: left;
  width: 130px;
  height: 349px;
  padding: 10px 0 0 0;
  background-color: white;
  border-bottom-left-radius: 5px;
}
#settingsPaneCover #settingsPane ul li a {
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px 0;
  padding: 0 15px;
  color: #1e1f23;
  font-size: 18px;
  text-decoration: none;
}
#settingsPaneCover #settingsPane .tab {
  float: right;
  width: 350px;
  height: 329px;
  padding: 20px 10px 10px 10px;
}
#settingsPaneCover #settingsPane h2 {
  font-size: 18px;
  line-height: 18px;
}
#settingsPaneCover #settingsPane hr {
  border: 1px solid #393b42;
}
