
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.button {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #1e1f23;
}
.button:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
.button:active {
  background-color: #878787;
}
html,
body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #393b42;
  font-family: 'Source Sans Pro', sans-serif;
}
#header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 5;
  margin: 0 0 30px 0;
  background-color: #1e1f23;
  border-bottom: 1px solid #292929;
  box-shadow: 0px 0px 4px #232323;
}
#header #songArea {
  position: absolute;
  left: 20px;
  float: left;
}
#header #songArea img {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #232323;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#header #songArea h1 {
  display: block;
  height: 30px;
  margin: 0 0 0 110px;
  line-height: 30px;
  font-size: 20px;
  color: #efefef;
}
#header #songArea h2 {
  display: block;
  height: 30px;
  margin: 0 0 0 110px;
  line-height: 30px;
  color: #efefef;
}
#header #controls {
  position: absolute;
  left: 0;
  right: 0;
  width: 38px;
  height: 50px;
  margin: 0 auto;
}
#header #controls button {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #1e1f23;
  float: left;
  margin: 11px;
}
#header #controls button:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#header #controls button:active {
  background-color: #878787;
}
#header #volumeIcon {
  float: right;
}
#header #volumeIcon {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #1e1f23;
  margin: 11px 0 0 0;
}
#header #volumeIcon:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#header #volumeIcon:active {
  background-color: #878787;
}
#header #volumeControl {
  float: right;
  width: 100px;
  height: 60px;
  margin: 0 20px 0 20px;
}
/******** Stations ********/
#stations {
  overflow-y: scroll;
  margin: 61px 0 30px 0;
}
.station {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 60px 30px 0 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #1e1f23;
  border-radius: 4px;
  transition: all 2s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.station:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0 6px #e13b39;
}
.station img {
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 4px;
}
.station .favouriteButton {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  color: #ffffff;
}
.station .favouriteButton:hover {
  cursor: pointer;
}
.station #stationTitles {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 180px;
  height: 50px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 25px;
  color: #efefef;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.station #stationTitles h1 {
  font-weight: bold;
}
/******** Footer ********/
#footer {
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 60px;
  background-color: #1e1f23;
  border-bottom: 1px solid #292929;
  box-shadow: 0px 0px 4px #232323;
}
#footer nav {
  float: left;
  margin: 0 0 0 20px;
}
#footer nav button {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #1e1f23;
  float: left;
  width: auto;
  margin: 12px 20px 0 0;
  padding: 0 8px;
}
#footer nav button:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#footer nav button:active {
  background-color: #878787;
}
#footer #informationPaneToggle {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  display: block;
  background: none;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 10px 0 0;
  line-height: 50px;
  text-align: center;
  font-size: 26px;
  color: #efefef;
}
#footer #informationPaneToggle:hover {
  cursor: pointer;
  color: #bcbcbc;
}
#footer #informationPaneToggle:active {
  color: #1b1b1b;
}
#footer #searchContainer {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  height: 38px;
  width: 358px;
  margin: 0 auto;
  background-color: #efefef;
  border-radius: 4px;
}
#footer #searchContainer input {
  float: left;
  width: 320px;
  height: 38px;
  background-color: #efefef;
  border: none;
  outline: none;
  padding: 0 10px;
  margin: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-appearance: none;
}
#footer #searchContainer button {
  display: block;
  float: right;
  width: 28px;
  height: 28px;
  margin: 5px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: #393b42;
  color: #efefef;
  line-height: 30px;
  text-align: center;
}
#footer #searchContainer button:hover {
  cursor: pointer;
}
#footer #searchContainer button:active {
  background-color: #1e1f23;
}
#footer #settingsButton {
  display: block;
  background: none;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: #efefef;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  color: #1e1f23;
  float: right;
  margin: 12px 20px 0 0;
}
#footer #settingsButton:hover {
  cursor: pointer;
  background-color: #bcbcbc;
}
#footer #settingsButton:active {
  background-color: #878787;
}
/******** Panes ********/
#paneCover {
  display: none;
  position: absolute;
  z-index: 9001;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#paneCover .pane {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #f1f1f1;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 6px #1e1f23;
}
#paneCover .pane header {
  width: 100%;
  height: 40px;
  background-color: #393b42;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#paneCover .pane header h1 {
  float: left;
  margin: 0 0 0 10px;
  line-height: 40px;
  font-size: 20px;
  color: #efefef;
}
#paneCover .pane header .closePane {
  float: right;
  width: 21px;
  height: 21px;
  margin: 10px 10px 0 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  font-size: 16px;
  color: #393b42;
  border-radius: 2px;
  background-color: #e13b39;
}
#paneCover .pane header .closePane:hover {
  cursor: pointer;
  background-color: #b52f2f;
}
#paneCover .pane h2 {
  float: left;
  margin: 10px 10px 0 0;
  font-size: 18px;
  line-height: 18px;
}
#paneCover .pane .btn {
  padding: 8px;
  background-color: #393b42;
  border: none;
  border-radius: 2px;
  color: #efefef;
}
#paneCover .pane .btn:hover {
  cursor: pointer;
}
#paneCover .pane hr {
  border: 1px dashed #d3d3d3;
}
#paneCover .pane .innerPane {
  padding: 10px;
  color: #393b42;
}
/**** Dialog ****/
.dialog {
  width: 340px;
  height: 160px;
  margin: -80px 0 0 -170px;
}
.dialog p {
  float: left;
  width: 280px;
  padding: 10px;
  height: 60px;
}
.dialog footer {
  float: left;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dialog footer .dialogButton {
  float: right;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
  padding: 0 8px;
  background-color: #393b42;
  border: none;
  border-radius: 2px;
  color: #efefef;
}
.dialog footer .dialogButton:hover {
  cursor: pointer;
}
/**** History Pane ****/
#paneCover #historyPane {
  width: 500px;
  height: 400px;
  margin: -200px 0 0 -250px;
}
#paneCover #historyPane h2 {
  position: relative;
  float: left;
  width: 100%;
  font-size: 28px;
  line-height: 28px;
  color: #393b42;
}
#paneCover #historyPane h2:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: attr(data-time);
  font-size: 18px;
  line-height: 28px;
}
#paneCover #historyPane p {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 48px;
  color: #393b42;
}
#paneCover #historyPane a {
  float: left;
  color: #e13b39;
  text-decoration: none;
}
#paneCover #historyPane a:visited {
  color: #e13b39;
  text-decoration: none;
}
#paneCover #historyPane a:hover {
  color: #b52f2f;
}
#paneCover #historyPane .innerPane {
  height: 340px;
  overflow-y: scroll;
}
/**** FAQ Pane ****/
#paneCover #faqPane {
  width: 500px;
  height: 400px;
  margin: -200px 0 0 -250px;
}
#paneCover #faqPane h2 {
  float: left;
  width: 100%;
  font-size: 28px;
  color: #393b42;
  line-height: 1em;
}
#paneCover #faqPane p {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 48px;
  color: #393b42;
}
#paneCover #faqPane a {
  float: left;
  color: #e13b39;
  text-decoration: none;
}
#paneCover #faqPane a:visited {
  color: #e13b39;
  text-decoration: none;
}
#paneCover #faqPane a:hover {
  color: #b52f2f;
}
#paneCover #faqPane .innerPane {
  height: 340px;
  overflow-y: scroll;
}
/**** Settings Pane ****/
#paneCover #settingsPane {
  width: 500px;
  height: 400px;
  margin: -200px 0 0 -250px;
}
#paneCover #settingsPane ul {
  float: left;
  width: 130px;
  height: 349px;
  padding: 10px 0 0 0;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
}
#paneCover #settingsPane ul li a {
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px 0;
  padding: 0 15px;
  color: #1e1f23;
  font-size: 18px;
  text-decoration: none;
}
#paneCover #settingsPane #tab0 h2 {
  color: #393b42;
  font-size: 28px;
}
#paneCover #settingsPane #tab0 p {
  float: left;
  font-size: 18px;
  line-height: 48px;
  color: #393b42;
}
#paneCover #settingsPane #tab0 a {
  float: left;
  color: #e13b39;
  text-decoration: none;
}
#paneCover #settingsPane #tab0 a:visited {
  color: #e13b39;
  text-decoration: none;
}
#paneCover #settingsPane #tab0 a:hover {
  color: #b52f2f;
}
#settingsPane .tab {
  float: right;
  width: 350px;
  height: 329px;
  padding: 10px;
}
#settingsPane h2 {
  margin: 10px 10px 0 0;
}
#settingsPane .btn {
  float: left;
}